[submodule "themes/hugo-dusk"]
	path = themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "themes/hulga"]
	path = themes/hulga
	url = https://github.com/wlh320/hugo-theme-hulga.git
[submodule "themes/yuan"]
	path = themes/yuan
	url = https://github.com/17ms/yuan.git
