[submodule "themes/mero"]
	path = themes/mero
	url = https://github.com/darshanbaral/mero
[submodule "themes/midnight"]
	path = themes/midnight
	url = https://gitlab.com/BluestNight/Midnight
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo
